{#<li>#}
{#    <a href="#" class="photo"><img src="images/img-pro-02.jpg" class="cart-thumb" alt=""/></a>#}
{#    <h6><a href="#">{{ cart }}</a></h6>#}
{#    <p>1x - <span class="price">$60.00</span></p>#}
{#</li>#}

{% for single_cart_item in cart %}
    <li>
        <a href="#" class="photo"><img src="images/img-pro-02.jpg" class="cart-thumb" alt=""/></a>
        <h6><a href="#">{{ single_cart_item }}</a></h6>
        <p>{{ single_cart_item.quantity }}x - <span class="price">{{ single_cart_item.price }}</span></p>
    </li>
{% endfor %}